<div class="container">
  <form class="" action="/" method="POST">
    <label for="email"></label>
    <input type="text" name="email" value="{{email}}" placeholder="Email" class="my-2">
    <label for="password"></label>
    <input type="password" name="password" value="" placeholder="Contraseña" class="my-2">
    <label for="asunto"></label>
    <input type="text" name="asunto" value="{{asunto}}" placeholder="Asunto" class="my-2">
    <label for="destinatarios"></label>
    <input type="text" name="destinatarios" value="{{destinatarios}}" placeholder="Destinatarios separados por coma" class="my-2">
    <label for="template"></label>
    <input type="text" name="template" value="{{template}}" placeholder="Template" class="my-2">
    <button type="submit" name="button" class="btn btn-block btn-dark">Enviar</button>
  </form>
</div>
